@media (max-width: 1400px) {
  .left {
    position: absolute;
    transition: all 0.5s;
    left: -120%;
    z-index: 1;
    width: 370px;
    background-color: black;
    padding: 0;
  }
  .right {
    width: 100vw;
    margin: 0;
  }
  .playbar {
    width: calc(100vw - 52px);
    /* width: 87vw; */
  }
  .seekbar {
    width: calc(100vw - 54px);
    /* width: 86vw; */
  }

  .songVol {
    flex-direction: column;
    gap: 13px;
  }

  .close {
    display: block;
    position: absolute;
    right: 23px;
    top: 23px;
    cursor: pointer;
    /* border: 1px solid gray;
    border-radius: 50%; */
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }
  .card {
    width: 100%;
  }
  .cardContainer {
    justify-content: center;
    overflow-y: auto;
    margin: 0;
  }
  .abovediv {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
